global
    daemon
    maxconn 30000
    log 127.0.0.1 local0 info
    log 127.0.0.1 local1 warning

defaults
    mode http
    option http-keep-alive
    option httplog
    timeout connect 5000ms
    timeout client 10000ms
    timeout server 50000ms
    timeout http-request 20000ms


listen app1-cluster
    bind *:9200
    mode http
    maxconn 3000
    balance roundrobin
    option httpchk
    server server1  elasticsearch:9200 maxconn 3000 check inter 500 rise 2 fall 3
    server server2  elasticsearch-2:9200 maxconn 3000 check inter 500 rise 2 fall 3
    server server3  elasticsearch-3:9200 maxconn 3000 check inter 500 rise 2 fall 3

listen app2-cluster
    bind *:9400
    mode http
    maxconn 3000
    balance roundrobin
    option httpchk
    server server1  elasticsearch:9200 maxconn 3000 check inter 500 rise 2 fall 3
    server server2  elasticsearch-2:9200 maxconn 3000 check inter 500 rise 2 fall 3
    server server3  elasticsearch-3:9200 maxconn 3000 check inter 500 rise 2 fall 3

listen stats
    bind *:80
    stats refresh 30s
    stats uri /stats